:root {
  --main-bg: #fef1e4;
  --alt-bg: #fcedc4;
  --tertiary-bg: #ffbe96;
}

h1,
h2,
h3,
h4,
button,
b,
strong {
  font-family: cursive;
}

body {
  line-height: 1.5;
  margin: 0 auto;
  background-color: var(--main-bg);
  max-width: 1200px;
}

#content {
  padding: 10px;
}
