.time {
  padding: 10px;

  margin: 30 auto;
  /* background-color: #fcedc4; */
  background-color: #d9ff96;
  border-radius: 10px;
}
.time h3 {
  font-family: cursive;
  display: flex;
  align-items: center;
}
.time svg {
  margin: 0px 10px;
}

.data {
  display: flex;
  justify-content: space-around;
}

.data div p:first-child {
  font-family: cursive;
  font-weight: 600;
}
